body{
    background-color: rgb(136, 136, 136);
}

h1{
    display: flex;
    justify-content: center;
    font-weight: 800;
    position: relative;
    text-decoration: underline;
    font-style: oblique;
    font: size 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgba(255, 0, 0, 0.595);
   padding: 5px;
   margin-left: 16px;
}

.introduction,.personnelles,.taff,.etudes{
    font-size:larger;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    padding: 6px;
    margin-left: 4px;
}

img{
    width: 240px;
    height: 200px;
    padding: 6px;
}
.button{
    color: rgba(0, 72, 255, 0.959);
    size: 5px;
    background-color: rgba(0, 0, 0, 0.737);
}